<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<link rel="manifest" href="/site.webmanifest" />
<style>
.scrollable-content {
  max-height: 600px;
  overflow-y: scroll;
}
.scrollable-content-half {
  max-height: 300px;
  overflow-y: scroll;
  background-color: lightgray;
  padding: 0 10px 0 10px;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
code {
  color: green !important;
  background-color: lightyellow !important;
}
</style>
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/main.js"></script>
</head>
<body>
{{{body}}}
<div id="init" style="display:none" data-init="{{initData}}"></div>
</body>
</html>