<!--<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
      <div class="col-6">
          <div class="card" style="min-width: 240px;">
              <div class="card-body" style="margin:auto">
                  <h1 style="text-align:center">{{title}}</h1>
                  <div><img src="/terratree.jpg" /></div>
                  <form method="POST" action="/" autocomplete="off">
                      <div class="form-group">
                          <input type="text" class="form-control" name="username">
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" name="password">
                      </div>
                      <button type="submit" id="sendlogin" class="btn btn-primary">
                        
                        Login
                      </button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>-->
<div class="login-form">
  <form action="/" method="post">
    <h1 style="text-align:center">{{title}}</h1>
    <div style="text-align:center"><img src="/terratree.jpg" /></div>
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Username" required="required">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">
        <i class="icon icon-login">&nbsp;</i>
        Log in
      </button>
    </div>
    <!--<div class="clearfix">
      <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
      <a href="#" class="float-right">Forgot Password?</a>
    </div>-->
  </form>
  <!--<p class="text-center"><a href="#">Create an Account</a></p>-->
</div>
