@font-face {
  font-family: 'fontellomin';
  src: url('/fontellomin.eot?8173197');
  src: url('/fontellomin.eot?8173197#iefix') format('embedded-opentype'),
       url('/fontellomin.woff2?8173197') format('woff2'),
       url('/fontellomin.woff?8173197') format('woff'),
       url('/fontellomin.ttf?8173197') format('truetype'),
       url('/fontellomin.svg?8173197#fontellomin') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontellomin";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-delete:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-alert:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-save:before { content: '\e804'; } /* '' */
.icon-upload:before { content: '\e805'; } /* '' */
.icon-load:before { content: '\e806'; } /* '' */
.icon-start:before { content: '\e807'; } /* '' */
.icon-stop:before { content: '\e808'; } /* '' */
.icon-reload:before { content: '\e809'; } /* '' */
.icon-setup:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-gift:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-trash:before { content: '\e80e'; } /* '' */
.icon-db:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-github:before { content: '\e812'; } /* '' */
.icon-login:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-spin:before { content: '\e838'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-list:before { content: '\f0ca'; } /* '' */
.icon-status:before { content: '\f0e4'; } /* '' */
.icon-question:before { content: '\f29c'; } /* '' */

.scrollable-content {
  max-height: 600px;
  overflow-y: scroll;
}
.scrollable-content-half {
  max-height: 300px;
  overflow-y: scroll;
  background-color: lightgray;
  padding: 0 10px 0 10px;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
code {
  color: green !important;
  background-color: lightyellow !important;
}